<a href="https://colab.research.google.com/github/azarcoder/gcollab/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# from google.colab import files
# uploaded = files.upload()
import pandas as pd


mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

print("Data Frame")
myvar = pd.DataFrame(mydataset)
print(myvar)

print("Series") #series means 1d array holding data of any type
mydataset = [i for i in range(1,6)]
myvar = pd.Series(mydataset)
print(myvar)
print(myvar[3]) #label

#create labels
myvar = pd.Series(mydataset, index = ["a", "b", "c", "d", "e"])
print(myvar)
print(myvar['a'])

#key value object series
mydataset = {
  'name': "duck",
  'age': 22,
  'city': "Bangalore"
}

#key of dictionary becomes label
myvar = pd.Series(mydataset)
print(myvar)

#select specific index from dictionary
d = pd.Series(mydataset, index = ["name", "city"])
print(d)

Data Frame
    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
Series
0    1
1    2
2    3
3    4
4    5
dtype: int64
4
a    1
b    2
c    3
d    4
e    5
dtype: int64
1
name         duck
age            22
city    Bangalore
dtype: object
name         duck
city    Bangalore
dtype: object

In [ ]:
from io import StringIO
import io
#Dataframes
#multidimentional tables called Dataframes
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)
print(df)

#Pandas use the loc attribute to return one or more specified row(s)
#Label-based location indexing
#iloc for integer based

'''
Syntax:
df.loc[row_condition, column_name]
df.loc[row_label, column_label]


df.loc[0]   # Gets the row with index label 0
df.loc[0, 'name']  # Value in row 0, column 'name'
df.loc[0:3, ['name', 'age']]
df.loc[df['age'] > 25, 'name']  # All names where age > 25
df.loc[df['age'] > 25, 'status'] = 'Senior' #modeify data


'''
print(df.loc[0])
print(df.loc[[0, 2]]) #select 0 and 2 row from df

#names index
df = pd.DataFrame(data, index = ["day1", "day2", "day3"])
print(df)
print(df.loc["day1"])

#load files in dataframes
# from google.colab import files
# uploaded = files.upload()
#This content is in bytes format and needs to be decoded to a string before being passed to pd.read_csv.#
#Instead of passing the content of the CSV as a string, pass it as a file-like object using io.StringIO
data = uploaded['mydata (1).csv']
df = pd.read_csv(io.StringIO(data.decode('utf-8')))
print(df)

#to_string() to print the entire DataFrame.
print(df.to_string())

#If you have a large DataFrame with many rows, Pandas will only return the first 5 rows, and the last 5 rows

#max_rows
print(pd.options.display.max_rows) #default shows 60 but we can change it
pd.options.display.max_rows = 9999

#head(row count)
#head() return top 5 rows
#tail() return last 5 rows
print(df.head(2)) #return 2 rows
print(df.tail(2))

#info(), that gives you more information about the data set.
print(df.info())

In [ ]:
#cleaning - fixing bad data in my data set

#bad data could be,
'''
Empty cells
Data in wrong format
Wrong data
Duplicates

Note:
By default, the dropna() method returns a new DataFrame, and will not change the original.
If you want to change the original DataFrame, use the inplace = True
'''
# from google.colab import files
# uploaded = files.upload()
data = uploaded['mydata (4).csv']
df = pd.read_csv(io.StringIO(data.decode('utf-8')))
print(df.dropna()) #remove rows with empty cells
print('-'*30)

# print(df.dropna(inplace = True)) #remove rows with empty cells and change original dataframe
'''
Note: Now, the dropna(inplace = True) will NOT return a new DataFrame,
but it will remove all rows containing NULL values from the original DataFrame.
'''
# print(df)
#replace empty cells with 0
# df.fillna(0, inplace = True)

#replace only for specific columns
df.fillna({"Age" : 0}, inplace = True)
print(df)

#mean, median, mode

# Mean = the average value (the sum of all values divided by number of values)
# Median = the value in the middle, after you have sorted all values ascending.
# Mode = the value that appears most frequently.

x = df["Age"].mean()
x = df["Age"].median()
x = df["Age"].mode()[0] #mode returns a series so we need to access the first element
# df["Age"].fillna(x, inplace = True)
print(x)

In [ ]:
'''
# cleanign wrong data
#
'''
# from google.colab import files
# uploaded = files.upload()
data = uploaded['mydata_2 (1).csv']
df = pd.read_csv(io.StringIO(data.decode('utf-8')))
# print(df.dropna()) #if any column empty it will remove it

df['data'] = pd.to_datetime(df['data'].astype('string'), errors = 'coerce')
'''
errors='coerce': mean
This tells pandas:
If the value can't be converted into a valid date (like "10/56"), then don’t crash.
Instead, replace it with NaT (which means “Not a Time” — like NaN but for dates).
'''
print(df.to_string())
print('-'*40)
#invalid rows
print("invalid rows")
invalid_rows = df[df['data'].isna()]
print(invalid_rows)
print('-'*40)
#valid rows
print("valid rows")
valid_rows = df[~df['data'].isna()]
print(valid_rows)
print('-'*40)

#removeing rows
# df.dropna(subset=['data'], inplace = True)
# print(df.to_string())

print('-'*40)
print(df)
#replacing values
# df.loc[df['data'] == '2025-10-10', 'data'] = '2018-12-01'
df.loc[df['data'].isna(), 'data'] = '2018-12-01'
print(df.to_string())
print('-'*40)

#condition filter
print('people form bangalore')
print(df.loc[df['City'] == 'Bangalore'], 'Name')

print('-'*40)

#modify
print('modify')
df.loc[df['City'] == 'Bangalore', 'City'] = 'Bengaluru'
print(df.to_string())

#replace values
print("replace values")
df.loc[1, "Name"] = "Elephant"
print(df.loc[1])
print('-'*40)


for x in df.index:
  if df.loc[x, "S.No"].isdigit() == False:
    # df.loc[x, "S.No"] = 0 #changing value
    df.drop(x, inplace = True) #removing row
print(df.to_string())

#removing deuplicates
print(df.duplicated())
# df.drop_duplicates(inplace = True)

In [ ]:
# df.corr() #The corr() method ignores "not numeric" columns.
'''
The Result of the corr() method is a table with a lot of numbers that represents
how well the relationship is between two columns.

1 means that there is a 1 to 1 relationship (a perfect correlation)
and for this data set, each time a value went up in the first column, the other one went up as well.

'''
# The number varies from -1 to 1


'''
#
# plot
#
'''

# import matplotlib
# matplotlib.use('Agg')
import matplotlib.pyplot as plt

df.plot()